.wrap_scsv h3 {
  margin: 2em 0;
}

#labeling td {
    text-align: center;
    font-weight: bold;
}

#pm_buttons td {
    text-align: center;
}

#supra_csv_ingestion_mapper {
    width: 66%;
    float: left;
}

#supra_csv_mapping_preset {
    width: 50%;
    float: left;
}

.clear {
    clear: both;
}

#flash {
    font-weight: bold;
}

span.success {
    color: green;
}

span.error {
    color: red;
}

#postmeta_suggestions td {
    border: 1px solid #000;
    padding: 10px; 
}

#postmeta_suggestions .even {
    background-color: #EEE;
}

#postmeta_suggestions .odd {
    background-color: #F9F9F9;
}

.scsv_predefined_mapper {
    float: left;
    width: 45%;
}

#supra_csv_ingestion_mapper #input span {
    display: block;
    float: left;
}

#supra_csv_ingestion_mapper #input select {
    float: right;
}

.scsv_custom_mapper {
    float: left;
    margin-left: 10%;
    width: 35%;
}

.wrap_scsv {
    font-weight: bold;
}

.wrap_scsv input, .wrap_scsv select {
    float: right;
    padding: 0px !important;
}

.wrap_scsv input[type=submit], .wrap_scsv button{
    padding: 10px !important;
}


.wrap_scsv input:after, .wrap_scsv select:after {
    clear: both;
}

.wrap_scsv select {
    min-width: 50%;
}


.wrap_scsv button, .wrap_scsv input[type=submit] {
            margin: 7px;
            padding: 10px;
            -moz-border-radius: 12px/*{cornerRadius}*/;
            -webkit-border-radius: 12px/*{cornerRadius}*/;
            -khtml-border-radius: 12px/*{cornerRadius}*/;
            border-radius: 12px/*{cornerRadius}*/;
}

.wrap_scsv select, .wrap_scsv input, .wrap_scsv textarea, .wrap_scsv button {
    border: 1px solid #FFA500 !important;
}

.wrap_scsv select, .wrap_scsv input, .wrap_scsv textarea {
    font-weight: normal !important;
}

.wrap_scsv button:hover, .wrap_scsv input[type=submit]:hover {

    border: 1px solid #FF6600 !important;
    background-color: #E0EEEE;
}

.wrap_scsv #input, .wrap_scsv .input {
    min-height: 30px; 
    clear: both;
}

.premium_only {
    font-weight: bold;
    color: #FF0000;
}

#supra_csv_mapping_preset {

width: 30%;

}

#file_selector {
    width: 300px;
}

.help {
    color:grey;
    font-size: 10px;
    display: block; 
}

#uploaded_files {
    margin-top: 50px;
}

#uploaded_files li {
    min-height: 80px;
}

.tooltip {
    display: block;
    float: left;
    padding-right: 3px; 
    background: url('../img/help_retina_black.png') no-repeat;
    width: 19px;
    height: 19px;
    clear: both;
}

#scsv_defaultdesc { 
  width: 100%;
}

#scsv_custom_terms {
  width: 100%;
  float: none;
}

#patience {
  background: url('../img/patience.gif') center center no-repeat;
  height: 200px;
  width: 200px; 
  display: none;
}

p#chunk_ingestion_options {
}
